body{
    background-color: darkgray;
}
.elem{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding: 1.5%;
    background-color: rgba(17, 65, 47, 0.541);
}
.keres{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding: 1.5%;
    background-color: rgba(17, 65, 47, 0.541);
}
#bel{
    padding: 10%;
}
div{
    border-radius: 5%;
}
button{
    background-color: rgba(17, 65, 47, 0.541);
}
.shadow{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid #cddc39;
    filter: drop-shadow(0 0 8px #ff5722);
}
span {
    display:block;
  }